# Ignore folder
image_url/
**/image_url/

dump_image/
**/image_url/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data artifacts
*.npz
*.pkl
#*.csv
*.xlsx

# Spesific files
#$temp_testing.ipynb
desktop.ini
$Cleaned_Text_Asli.csv