# Ignore folder
image_url/
**/image_url/
split_data/
dump_image/
**/image_url/
_feature_artifacts/
_image_artifacts/
_tfidf_artifacts/
_$label/
_$fused/
corpus
split_data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data artifacts
*.npz
*.pkl
#*.csv
*.xlsx
*.pdf

# Spesific files
#$temp_testing.ipynb
desktop.ini
$Cleaned_Text_Asli.csv

crawling_cnbc copy.ipynb
crawling_cnbc copy 2.ipynb
crawling_cnbc copy 3.ipynb
crawling_cnbc copy 4.ipynb